<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{call .T "login_page_title"}} - ZenithSSO</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="sso-card">
    <h2>ZenithSSO</h2>
    <p class="subtitle">{{call .T "login_title"}}</p>

    {{if .Error}}
    <div id="error-msg" class="error-message" class="display-block">{{.Error}}</div>
    {{else}}
    <div id="error-msg" class="error-message"></div>
    {{end}}

    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">{{call .T "username"}}</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">{{call .T "password"}}</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn">{{call .T "login_button"}}</button>
    </form>
    <p class="mt-1_5rem font-size-sm">
        {{call .T "no_account"}} <a href="/api/v1/register" class="link-primary">{{call .T "register_link"}}</a>
    </p>
</div>
</body>
</html>
