<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{call .T "register_page_title"}} - ZenithSSO</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="sso-card">
    <h2>{{call .T "register_heading"}}</h2>
    <p class="subtitle">{{call .T "register_title"}}</p>

    <div id="error-msg" class="error-message"></div>
    <div id="success-msg"
         class="display-none success-banner mb-1rem"></div>

    <form id="register-form">
        <div class="form-group">
            <label for="username">{{call .T "username"}}</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">{{call .T "password"}}</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn">{{call .T "register_button"}}</button>
    </form>

    <p class="mt-1_5rem font-size-sm">
        {{call .T "already_have_account"}} <a href="/login" id="login-link"
                             class="link-primary">{{call .T "login_link"}}</a>
    </p>
</div>
<script src="/static/js/register.js"></script>
</body>
</html>
